{% extends 'core/base.html' %}
{% load static %}
{% block title %}Añadir Carrito{% endblock title %}
{% load humanize %}
{% block main-content %}
<style>
  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }

  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }

  .card-registration .select-arrow {
    top: 13px;
  }

  .bg-grey {
    background-color: #eae8e8;
  }

  @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }

  @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
</style>
<section class="h-100 h-custom" style="background-color: #fff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Carrito de Compras</h1>
                  </div>
                  {% for carrito in carritos %}
                  <hr class="my-4">

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="{{carrito.producto.imagen_producto.url}}" class="img-fluid rounded-3"
                        alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">Categoria: {{carrito.producto.categoria}}</h6>
                      <h6 class="text-black mb-0">{{carrito.producto.titulo}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <label for="cantidad">Cantidad:</label>
                      <a class="minus-cart btn" pid="{{carrito.producto.id}}"><i
                          class="fas fa-minus-square fa-lg"></i></a>
                      <span id="cantidad">{{carrito.cantidad}}</span>
                      <a class="plus-cart btn" pid="{{carrito.producto.id}}"><i
                          class="fas fa-plus-square fa-lg"></i></a>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">${{carrito.producto.precio_venta|intcomma}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#" class="remove-cart text-muted" pid="{{carrito.producto.id}}"><i class="fas fa-times"></i></a>
                    </div>
                  </div>
                  {% endfor %}
                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Volver al inicio</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Resumen Total</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Productos: {{carritos|length}}</h5>
                    <h5 id="pago">${{pago|intcomma}}</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Envio: {{envio|intcomma}}</h5>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total a Pagar</h5>
                    <h5 id="total_pago">${{total_pago|intcomma}}</h5>
                  </div>

                  <a href="{% url 'verificar' %}" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Realizar Pedido</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // Aumentar cantidad de productos carrito.
  $('.plus-cart').click(function () {
    var id = $(this).attr("pid").toString();
    var em1 = this.parentNode.children[2]
    // console.log(id);
    $.ajax({
      type: "GET",
      url: "/aumentarcarrito",
      data: {
        prod_id: id
      },
      success: function (data) {
        em1.innerText = data.cantidad
        document.getElementById("pago").innerText = "$" +  data.pago.toLocaleString();
        document.getElementById("total_pago").innerText = "$" +  data.total_pago.toLocaleString();
      }
    })
  });

  // Reducir cantidad de productos carrito.
  $('.minus-cart').click(function () {
    var id = $(this).attr("pid").toString();
    var em1 = this.parentNode.children[2]
    // console.log(id);
    $.ajax({
      type: "GET",
      url: "/reducircarrito",
      data: {
        prod_id: id
      },
      success: function (data) {
        em1.innerText = data.cantidad
        document.getElementById("pago").innerText = "$" +  data.pago.toLocaleString();
        document.getElementById("total_pago").innerText = "$" +  data.total_pago.toLocaleString();
      }
    })
  });

  // Remover la cantidad de productos carrito.
  $('.remove-cart').click(function () {
    var id = $(this).attr("pid").toString();
    var em1 = this.parentNode.children[2]
    console.log(id);
    $.ajax({
      type: "GET",
      url: "/removercarrito",
      data: {
        prod_id: id
      },
      success: function (data) {
        console.log("Eliminado");
        document.getElementById("pago").innerText = "$" +  data.pago.toLocaleString();
        document.getElementById("total_pago").innerText = "$" +  data.total_pago.toLocaleString();
      }
    })
  });
</script>
{% endblock main-content %}